<div class="form">

	<br>お問い合わせ

	</div>

<div class="form-main">
<div class="form-main-inner">
  <form class="form-maina" action="">
    <p><input type="text" name="username" class="formi" placeholder="お名前"></p>
		<p><input type="email" name="usermail" class="formi"  placeholder="メールアドレス"></p>
    <p><textarea placeholder="お問い合わせ内容" class="formt"></textarea></p>
    <p><button class="forms" type="submit" name="account">送信!</button></p>
  </form>
</div>
</div>