<DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="top2.css">
<title>prototype2</title>
</head>

<body>

<div class="box3">
  <div class="intro">
	Input Outputは、学びをシェアし合い、<br>
	インプットとアウトプット両方ができる<br>
  最高の環境を提供するサービスです

	</div>


</div>



</body>
</html>
